<form observeVisibility (visible)="loadContacts(true)" [formGroup]="Form" (submit)="onSubmit()">
  <div class="d-flex flex-column h-100">
    <ng-scrollbar class="scroll-sidebar">
      <div class="container-fluid py-2">
        <!-- Tabs -->
        <!-- Create chat -->
        <div *ngIf="false" class="form-group mt-5">
          <label class="small">Обложка</label>
          <div class="position-relative text-center bg-secondary rounded p-6">
            <div class="avatar bg-primary text-white mb-5">
              <i-feather name="image"></i-feather>
            </div>
            <p class="small text-muted mb-0">You can upload jpg, gif or png files. <br> Max file size 3mb.</p>
            <input id="upload-chat-photo" class="d-none" type="file">
            <label class="stretched-label mb-0" for="upload-chat-photo"></label>
          </div>
        </div>
        <div class="form-group mt-4">
          <input formControlName="title" id="new-chat-title" class="form-control form-control-lg" type="text" placeholder="Введите название беседы">
        </div>
        <div *ngIf="false" class="form-group mb-0">
          <label class="small" for="new-chat-description">Описание</label>
          <textarea formControlName="description" id="new-chat-description" class="form-control form-control-lg" rows="6" placeholder="Введите описание беседы"></textarea>
        </div>
        <div *ngFor="let alert of alerts">
          <alert [type]="alert.type" [dismissible]="dismissible" (onClosed)="onClosed(alert)">
            <p><i-feather name="users" class="mr-2"></i-feather>Напишите выше название для беседы, после чего отметьте собеседников ниже для содания группового чата.</p>
            <p><i-feather name="user" class="mr-2"></i-feather>Для создания одиночного диалога, отметьте одного собеседника.</p>
          </alert>
        </div>
        <div *ngIf="usersSelectCount > 0" class="userList mb-4">
          <span class="badge badge-primary mr-3 mb-2" *ngFor="let client of usersSelect | keyvalue; let i = index" >
            <span [innerHTML]="(client.value.name.first + ' ' + client.value.name.last) | replaceEmojis:'facebook':14:64"></span>
            <i-feather (click)="toggleUser($event, client.value)" name="x" class="pointer"></i-feather>
          </span>
        </div>
        <!-- Search -->
        <div class="mb-6">
          <div class="input-group">
            <input type="text" formControlName="q" class="form-control form-control-lg" placeholder="Введите имя или фамилию">
            <div class="input-group-append">
              <button class="btn btn-lg btn-ico btn-secondary btn-minimal" type="submit">
                <i-feather name="search"></i-feather>
              </button>
            </div>
          </div>
        </div>
        <!-- Search -->
        <!-- Chat Members -->
        <app-error-show [Service]="Service"  [error]="isLoadError" *ngIf="isLoadError" class="h-100"></app-error-show>
        <div *ngIf="!isLoaded && !isLoadError" class="text-center">
          <div class="mt-4 mb-3"><div class="loader">Загрузка...</div></div>
        </div>
        <nav *ngIf="isLoaded" class="list-group list-group-flush mb-n6 mt-5">

          <!-- Friend -->
          <ng-container *ngFor="let client of arResult; let i = index">
            <div *ngIf="client.shiw_title" class="mb-6">
              <small class="text-uppercase">{{client.first_character}}</small>
            </div>

            <div class="card mb-6">
              <div class="card-body pointer">
                <div class="media">
                  <app-avatar [Service]="Service" [id]="client.id" [class.avatar-online]="client.online" [type]="'private'" [avatar]="client.avatar" class="avatar mr-5"></app-avatar>
                  <div class="media-body align-self-center mr-6">
                    <h6 (click)="modalService.openModal('ModalChatDetailComponent', {Service: Service, id: client.id, type: 'user'})" class="text-truncate mr-auto mb-1">
                      <span *ngIf="client.name.first" [innerHTML]="(client.name.first + ' ' + client.name.last) | replaceEmojis:'facebook':20:64"></span>
                      <span *ngIf="!client.name.first">{{client.username}}</span>
                    </h6>
                    <div class="small text-muted text-nowrap">
                      <p *ngIf="client.online">Онлайн</p>
                      <p *ngIf="!client.online && client.last_seen">Заходил(a) {{client.last_seen.time * 1000 | timeago}} {{client.last_seen.platform}}</p>
                    </div>
                  </div>
                  <div class="align-self-center ml-auto">
                    <div class="custom-control custom-checkbox">
                      <input (change)="toggleUser($event, client)" [checked]="client.checked" class="custom-control-input" id="id-user-{{i}}" type="checkbox">
                      <label class="custom-control-label" for="id-user-{{i}}"></label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Label -->
              <label class="stretched-label pointer" for="id-user-{{i}}"></label>
            </div>
          </ng-container>

        </nav>
        <!-- Tabs -->
        <!-- Create chat -->
      </div>
    </ng-scrollbar>
    <!-- Button -->
    <div class="py-6 sidebar-footer">
      <div class="container-fluid">
        <button *ngIf="!existUserId" [disabled]="usersSelectCount == 0" class="btn btn-lg btn-primary btn-block" type="submit">
          <i-feather name="edit" class="icon-md mr-2"></i-feather>
          <span *ngIf="usersSelectCount != 1">Создать беседу ({{usersSelectCount}})</span>
          <span *ngIf="usersSelectCount == 1">Создать дилог</span>
        </button>
        <button *ngIf="existUserId" (click)="openChat(existUserId)" class="btn btn-lg btn-primary btn-block" type="button">
          <i-feather name="message-square" class="icon-md mr-2"></i-feather>Перейти к беседе
        </button>
      </div>
    </div>
  </div>
</form>
