.text-preview {
  max-height: 30px;
}
.card-body {
  cursor: pointer;
}
.card-body .media-body i-feather {
  line-height: 100%;
  vertical-align: text-top;
}
.chat-pined {
  z-index: 1;
  right: 10px;
  bottom: 15px;
  position: absolute;
}
.scroll-sidebar {
  height: calc(100vh - 103px)!important;
}
.card {
  border-radius: 0 .375rem .375rem 0;
}
