{{runChangeDetection}}
<virtual-scroller
  [scrollAnimationTime]="0" [useMarginInsteadOfTranslate]="true"
  [bufferAmount]="7" [enableUnequalChildrenSizes]="false"
  #scroll [items]="Service.arChat" class="scroll-sidebar">
  <div class="container-fluid pb-6 h-100">
    <!-- Search -->
    <app-chat-search *ngIf="false" [Service]="Service"></app-chat-search>
    <!-- Search -->
    <div *ngIf="!isLoadError" [ngStyle]="{'min-height': '100px'}">
      <app-contacts-list [Service]="Service" class="d-block" *ngIf="isLoaded"></app-contacts-list>
    </div>
    <app-error-show [Service]="Service" [error]="isLoadError" *ngIf="isLoadError; else elseBlock" class="h-100"></app-error-show>
    <ng-template #elseBlock>
      <div *ngIf="!isLoaded" class="mt-4 mb-3"><div class="loader">Загрузка...</div></div>
      <!-- Chats -->
      <nav #container class="nav d-block list-discussions-js mb-n6" *ngIf="isLoaded">
        <!-- Chat link -->
        <ng-template [ngForTrackBy]="trackByFn" ngFor let-i="index" let-c="count" let-chat [ngForOf]="scroll.viewPortItems">
          <a
            ngxLongPress2 (onLongPress)="contextMenuOpen($event, chat)"
            [contextMenu]="contextMenu" [contextMenuSubject]="chat"
            class="text-reset nav-link p-0 mb-3 chat-{{chat.type}}"
            [class.active]="Service.openChatId == chat.id"
            (click)="openChat(i, chat)"
            *ngIf="!onlyUnread || chat.unread_messages_count > 0"
          >
            <div class="card card-active-listener">
              <div class="card-body" [class.bg-secondary]="chat.unread_messages_count > 0">
                <i-feather tooltip="Чат прикреплен" *ngIf="chat.is_pinned" name="paperclip" class="chat-pined text-muted"></i-feather>
                <!--<div *ngIf="chat.last_message.out" class="message-read ml-2">
                  <i-feather *ngIf="chat.last_message.read" name="check"></i-feather>
                  <i-feather name="check"></i-feather>
                </div>-->
                <div class="media">
                  <app-avatar *ngIf="chat.isSelf; else elseAvatar" [id]="chat.id" [type]="'self'" class="avatar mr-5"></app-avatar>
                  <ng-template #elseAvatar><app-avatar [id]="chat.id" [class.avatar-online]="chat.online" [type]="chat.type" [avatar]="chat.avatar" class="avatar mr-5"></app-avatar></ng-template>
                  <div class="media-body overflow-hidden">
                    <div class="d-flex align-items-center mb-1">
                      <h6 *ngIf="chat.isSelf; else elseName" class="text-truncate mb-0 mr-auto">Избранное</h6>
                      <ng-template #elseName>
                        <h6 class="text-truncate mb-0 mr-auto">
                          <i-feather tooltip="Бот" *ngIf="chat.type == 'bot'" name="cpu" class="mr-2"></i-feather>
                          <i-feather tooltip="Группа" *ngIf="chat.type == 'group'" name="users" class="mr-2"></i-feather>
                          <i-feather tooltip="Супергруппа" *ngIf="chat.type == 'supergroup'" name="users" class="mr-2"></i-feather>
                          <i-feather tooltip="Канал" *ngIf="chat.type == 'channel'" name="tv" class="mr-2"></i-feather>
                          <i-feather tooltip="Подтвржден" *ngIf="chat.user && chat.user.is_verified" name="shield" class="mr-2"></i-feather>

                          <ng-template [ngIf]="chat.type == 'private' || chat.type == 'bot'">
                            <span *ngIf="chat.name.first" [innerHTML]="(chat.name.first + ' ' + chat.name.last) | replaceEmojis:'facebook':20:64"></span>
                            <span *ngIf="!chat.name.first">{{chat.username}}</span>
                          </ng-template>
                          <span *ngIf="chat.type != 'private' && chat.type != 'bot'" [innerHTML]="chat.title | replaceEmojis:'facebook':20:64"></span>
                        </h6>
                      </ng-template>
                      <p class="small text-muted text-nowrap ml-4" timeago [date]="chat.last_message.time"></p>
                    </div>

                    <div *ngIf="chat.typing" class="text-truncate">печатает<span class="typing-dots"><span>.</span><span>.</span><span>.</span></span></div>
                    <div *ngIf="chat.last_message && !chat.typing" class="text-truncate text-preview" [class.open]="!chat.open">
                      <i *ngIf="chat.last_message.out" class="mr-2">Вы:</i>
                      <i
                        *ngIf="!chat.last_message.out && (chat.type == 'group' || chat.type == 'supergroup')"
                        class="mr-2"
                        [ngStyle]="{'color': chat.color}"
                        [innerHTML]="chat.last_message.name.first + ':' | replaceEmojis:'facebook':20:64"></i>
                      <span [innerHTML]="chat.last_message.text_list | replaceEmojis:'facebook':20:64"></span>
                    </div>
                  </div>
                </div>
                <div tooltip="Непрочитано" *ngIf="chat.unread_messages_count > 0" class="badge badge-circle badge-primary badge-border-light badge-top-right">
                  <span>{{chat.unread_messages_count}}</span>
                </div>
              </div>
            </div>
          </a>
        </ng-template>
        <!-- Chat link -->
      </nav>

    </ng-template>
  </div>
</virtual-scroller>
<!-- Chats -->
<div class="py-1 sidebar-footer">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="col-auto">
        <a href="javascript:void(0)" (click)="onlyUnread = !onlyUnread" class="nav-link btn btn-sm">
          <ng-container *ngIf="!onlyUnread"><i-feather name="eye-off" class="icon-md"></i-feather> Непрочитанные</ng-container>
          <ng-container *ngIf="onlyUnread"><i-feather name="eye" class="icon-md"></i-feather> Показать все</ng-container>
        </a>
      </div>
      <div class="col-auto">
        <button (click)="openSettings()" class="nav-link btn btn-sm position-relative mr-9 mr-md-0" placement="left" tooltip="Настройки">
          <i-feather name="settings" class="icon-md" ></i-feather>
        </button>
      </div>
    </div>
  </div>
</div>
<context-menu>
  <ng-template [visible]="isChatPinned" contextMenuItem let-item (execute)="onContextMenu($event.item)">
    Открепить <i-feather name="trash-2" class="ml-auto float-right"></i-feather>
  </ng-template>
  <ng-template [visible]="isNotChatPinned" contextMenuItem let-item (execute)="onContextMenu($event.item)">
    Закрепить <i-feather name="trash-2" class="ml-auto float-right"></i-feather>
  </ng-template>
  <ng-template contextMenuItem let-item (execute)="onContextMenu($event.item)">
    Показать профиль <i-feather name="trash-2" class="ml-auto float-right"></i-feather>
  </ng-template>
  <ng-template contextMenuItem let-item (execute)="onContextMenu($event.item)">
    Включить уведомления <i-feather name="trash-2" class="ml-auto float-right"></i-feather>
  </ng-template>
  <ng-template contextMenuItem let-item (execute)="onContextMenu($event.item)">
    Пометить как прочитанное <i-feather name="trash-2" class="ml-auto float-right"></i-feather>
  </ng-template>
  <ng-template contextMenuItem let-item (execute)="onContextMenu($event.item)">
    Покинуть чат <i-feather name="trash-2" class="ml-auto float-right"></i-feather>
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem let-item (execute)="onContextMenu($event.item)">
    Удалить <i-feather name="trash-2" class="ml-auto text-danger float-right"></i-feather>
  </ng-template>
</context-menu>
